<html prefix="og: http://ogp.me/ns#">
<head>
    <title>{{ title }}</title>

    <meta property="og:url" content="{{ url }}">
    <meta property="og:type" content="image"/>
    <meta property="og:title" content="{{ title }}">
    <meta property="og:image" content="{{ image }}">
    <meta name="theme-color" content="#{{ color }}"/>
    <link type="application/json+oembed" href="{{ oembed_url }}" />
    <meta charset="UTF-8">

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', sans-serif;
        }
    </style>
</head>
<body>
<h1>Paste this link into Discord to see the embed!</h1>
</body>
</html>